<script type="text/javascript">
			$(window).load(function() {
				$(".loader").stop().fadeOut("slow");
			})	
		</script>
   	<div class="loader"></div>

<div class="main actor-index">
    <div class="container">
        <div class="row">
		    <% @actors.each do |f| %>
                <div class="actor col-xs-3">
                    <%= image_tag f.image %>
                    <h3> <%= f.name %> </h3>
                    <%= link_to "See more" , actor_path(f) %>
                    <p> <%= f.bio %> </p>
                </div>
            <% end %> 
        </div>
    </div>
</div>
